include "/usr/local/share/nano/xml.nanorc"
include "/usr/local/share/nano/css.nanorc"
include "/usr/local/share/nano/php.nanorc"
include "/usr/local/share/nano/html.nanorc"
include "/usr/local/share/nano/sh.nanorc"